%html
  %head
    %title Projector Command Center
    - if @meta_refresh_interval
      %meta{ "http-equiv": "refresh", "content": @meta_refresh_interval }
    %script(type="text/javascript" src="javascripts/application.js")
    %link(rel="stylesheet" type="text/css" href="stylesheets/slider.css")
    %link(rel="stylesheet" type="text/css" href="stylesheets/application.css")
    %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
  %body
    = yield
