%section.container.row.center
  .container.column
    %h2 Power
    .description Turn power on and off for all projectors

  %label.toggle(for="checkbox")
    %input(type="checkbox" id="checkbox")
    .slider.round

  -# - if @broadcaster.any?(:powered_on?) || @broadcaster.any?(:warming_up?)
  -#   %form(action="/power_off" method="post")
  -#     %input(type="submit" value="Power Off")
  -# - else
  -#   %form(action="/power_on" method="post")
  -#     %input(type="submit" value="Power On")

%footer.container.row.center
  %dl
    %dt Controlled Projectors
    %dd.bubble= @broadcaster.projectors.size
  %a.btn.outline(href="/") Refresh